html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

#logo {
    position: absolute;
    transform: scale(1.5);
    transform-origin: left top;
    top: 10px;
    left: 10px;
    z-index: 2;
}

.hide {
    display: none;
}

/* .button {
    width: 200px;
    height: 200px;
    border-radius: 60px;
    color:white;
    font-size: 50px;
    background-color: blue;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 2;
}
.button:active{
    background-color: red;
} */

.overlaybox {
    position:relative;
    width: 100%;
    height: 100%;
    color: #2b2d36;
    padding: 5px 5px;
}

.overlaybox div, ul {
    overflow:hidden;
    margin:0;
    padding:0;
}

.overlaybox li {
    list-style: none;
}

.overlaybox .boxtitle {
    color:#2b2d36;
    font-size:40px;
    font-weight:bold;
    margin-bottom:5px;
    margin-left: 10px;
}

.overlaybox ul {
    width:100%;
    height:100%;
    margin-left: -8px;
    display: grid;
    grid-template-columns: repeat(2, 200px);
}
.column {
    margin-left: 28%;
    font-size: 30px;
}
.overlaybox li {
    position:relative;
    margin-bottom: 2px;
    margin-left:8px;
    background:#2b2d36;
    padding:8px 10px;
    color:#Ffffff;
    line-height: 1;
}

.overlaybox li .span {
    display:inline-block;
}
.overlaybox li .floor {
    font-size:20px;
    font-weight:bold;
}
.overlaybox li .title {
    font-size: 20px;
    padding-right: 50px;
}

.overlaybox li .emoji {
    position:absolute;margin-top:1px;right:7%;font-size:20px;
}